# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# TensorFlow / AI model files
*.h5
*.pb
*.tflite

#Package
*__init__.py

# CSV or dataset files
*.csv
*.npy
# Windows
Thumbs.db
.DS_Store

#Credentials
.env

#Log file 
backend/Log/*

#vscode config
./.vscode/*

#my config
./backend/Settings/config.py