/* Reset default browser margins */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Navbar styling */
.nav-links {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  z-index: 1000;
}

.nav-links a {
  color:rgb(163, 184, 230);
  font-weight: 500;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
